body {
  background-color: #A3E5B7;
  color:#274D32;
  font-family: Arial, Helvetica, sans-serif;
}
.parent {
  height: 100vh;
  column-width: 150px;
  column-rule: 7px solid #274D32;
  column-gap: 40px;
  column-count: 3;
  column-fill: auto;
}

h1 {
  column-span: all;
}

.footer {
  column-span: all;
}